data/flows_JARVIS-ULTRON.json
[{"id":"7da533791a3fd380","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"ae51e1c56dae2a2b","type":"teste","z":"7da533791a3fd380","name":"","x":370,"y":80,"wires":[["a56c1f32de93e2e2"]]},{"id":"73c38e55d72dbd7d","type":"inject","z":"7da533791a3fd380","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":80,"wires":[["ae51e1c56dae2a2b"]]},{"id":"a56c1f32de93e2e2","type":"debug","z":"7da533791a3fd380","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":80,"wires":[]}]